# -*- coding: utf-8 -*-
[buildout]
parts +=
      redis
      redis-build
      redis-command

[redis]
recipe = hexagonit.recipe.download
strip-top-level-dir = true
ignore-existing = true
url = http://download.redis.io/releases/redis-3.0.2.tar.gz

[redis-build]
recipe = collective.recipe.cmd
on_install = true
on_update = false
cmds = cd ${redis:location} && make

[redis-command]
recipe = collective.recipe.cmd
on_install = true
on_update = false
cmds = cd ${buildout:bin-path} && ln -sf ${redis:location}/src/redis-server && ln -sf ${redis:location}/src/redis-cli

[_make_dirs]
paths +=
      ${buildout:srv-path}/redis

[supervisor]
programs +=
       10 redis ${buildout:bin-path}/redis-server
